 <% if logged_in? %>  
  <h1>タスク一覧</h1>
   <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.id %> : <%= task.content %> : <%= task.status %></li>
    <% end %>
  </ul>
  
  <%= link_to '新規タスクの作成', new_task_path %>
  
    <div>
     <%= link_to 'ログアウト', logout_path, method: :delete %>
    </div>

<% else %>
    <div>
      <h1>登録↓<h1>
      <%= link_to 'Sign up now!', signup_path  %>
    </div>
  
    <div>
      <h1>ログイン↓<h1>
      <%= link_to 'Log in!', login_path %>
    </div>
    
<% end %>